@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/bg.jpg");
  background-size: cover;
}

.root .content {
  max-width: 900px;
  text-align: center;
}

.root .content h2 {
  font-family: "Caveat", cursive;
  font-size: 4.5em;
  color: #fff;
  transition: 0.7s;
}

.root .content p {
  font-size: 1.2em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #ff1057;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.header.sticky .logo {
  color: #111;
}

.logo span {
  font-size: 1.5em;
  color: #ff1057;
}

.navigation {
  position: relative;
  display: flex;
}

.navigation li {
  list-style: none;
  margin-left: 30px;
}

.navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}

.header.sticky .navigation li a {
  color: #111;
}

.navigation li a:hover {
  color: #ff1057;
}

.header.sticky .navigation li a:hover {
  color: #ff1057;
}

.fa-bars {
  color: #fff;
  display: none;
  font-size: 2em;
}

.fa-times {
  color: #fff;
  font-size: 1.8em;
  display: none;
}

.header.sticky .fa-bars,
.header.sticky .fa-times {
  color: #111;
}

@media (max-width: 991px) {
  .header {
    padding: 10px 20px;
  }
  .header.sticky {
    padding: 10px 20px;
  }
  .root .content h2 {
    font-size: 2.5em;
    color: #fff;
  }
  .root .content p {
    font-size: 1em;
    color: #fff;
  }
  .navigation {
    display: none;
  }
  .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }
  .navigation li {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
  }
  .navigation li a {
    text-decoration: none;
    color: #111;
    padding: 10px 20px;
    font-size: 1.8em;
    width: 200px;
    transition: 0.5s;
    border: 1px solid #ff1057;
  }
  .navigation li a:hover {
    letter-spacing: 3px;
  }
  .fa-bars {
    display: inline;
  }
  .fa-times {
    display: inline;
  }
}
